body{
    background-color: white;
    background-image:url(img/anime-sky-scenery-wallpaper-7984-8301-hd-wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.caption{
    color: white;
    text-shadow: 2px 2px 2px #111111;
}

.caption p{
    padding: 20px 10px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

h2{
    font-family: cursive;
    text-align: center;
    text-shadow: 3px 3px 3px #FFFFFF;
    font-size: 80px;
    color: #F44336; 
    margin: auto;
    margin-bottom: 20px;
}

.card{
    margin: auto;
    width: 500px;
    padding: 10px;
    padding-bottom: 1px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important;
    border-radius: 4px;
}

.portal{
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    width: 27%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important;
    resize: both;
    overflow: auto;
    
}

input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit]:hover {
    background-color: #E53935;
}

input[type=submit]{
    width: 90%;
    background-color: #F44336;
    color: white;
    padding: 14px 20px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: font-family: Verdana, sans-serif;
    font-size: 15px;
}

h3{
    color: #FFFFFF;
    font-size: 25px;
    text-shadow: 2px 2px 2px #111111;
    font-family: Verdana, sans-serif;
}
